div.DatamartList, div.Legend {
	float: left;
	width: 13em;
	line-height: 1.2em;
	border: solid 1px #d8d8d8;
	background: url(../_Images/SegmentBack.png) top center repeat-x #fff;
	margin: 0em 0em 1em 0em;
	padding: 1em;
	clear: both;
	font-size: 1em;
}

div.DatamartList h1 {
	color: #f60;
	font-weight: normal;
	margin: 0em;
	font-size: 1.3em;
	padding-bottom: 0.4em;
}

div.DataMartListItems {
	height: 24em;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-right: 0.5em;
}

div.DatamartList ul {
	list-style-type: none;
	padding: 0em;
	margin: 0em;
	font-size: 0.8em;
}

div.DatamartList ul li {
	margin-bottom: 0em;
	color: #666;
	border-bottom: solid 1px #E5E6EE;
	padding: 0.1em 0.2em;
}

div.DatamartList ul li a {
	color: #4444AC;
	display: block;
	margin-bottom: 0em;
	padding-left: 0.2em;
}

div.DatamartList ul li a:hover {
	color: #fff;
	background-color: #5E75BA;
	text-decoration: none;
}

div.DatamartList img  {
	border: none;
	margin-right: 0.4em;
	padding: 0.3em 0em;
	float: left;
}

div.DataMarts {
	padding-right: 10px;
	margin-left: 15.5em;
	font-size: 1.1em;
}


div.DataMartInfoPopup {
	width: 500px;
	padding: 0em;
	border: none;
}

div.DataMartInfoPopup img.X {
	margin: 5px 5px 0px 0px;
}

/* -----| Data mart information  |---------------------------- */

div.DataMart {
	border: solid 1px #B8CCEC;
	overflow: visible;
	font-size: 0.8em;
	background-color: #fff;
}

div.DataMart h1, div.DataMart a h1 {
	color: #243356;
	font-size: 1.1em;
	margin: 0em;
	padding: 0.3em 0.9em;
	font-weight: normal;
	background: #C3D5F2 url(../_Images/H1Bg.png) top center repeat-x;
}

div.DataMart h1 span {
	margin-left: 0.5em;
}

div.DataMart h1 span img{

	margin-right: 0.2em;
}

div.DataMart a:hover h1:hover {
	text-decoration: none;
}


div.DataMart h2 {
	font-size: 1em;
	border-bottom: solid 1px #E5E6EE;
	padding: 0.5em 1em;
	font-weight: normal;
	margin: 0em;
}

div.DataMart h2 span a, div.DataMart h2 span a:link, div.DataMart h2 span a:active, div.DataMart h2 span a:hover, div.DataMart h2 span a:visited {
	color: #568721;
}

div.DataMart h2 span img {
	padding-right: 0.5em;
}

div.MetaInfo, div.Update {
	padding: 0.5em 1em;
	color: #000;
}

div.LinkTable 
{
	margin-left: 1em;
}

div.DataMart table {
	padding: 1em;
	padding-left: 2em;
	border-top: solid 1px #E5E6EE;
	width: 99%;
}

div.DataMart table tr td a:link, div.DataMart table tr td a:active, div.DataMart table tr td a:visited {
	display: block;
	width: 30em;
	overflow: hidden;
}

div.IconBar a span {
	margin: 0em 0.5em 0em 0.5em;
}