/* -----| Filter panel |--------------- */
div.FilterList {
	border: solid 1px #ccc;
	background: url(../_Images/FilterListBack.gif) bottom center repeat-x #f1f1f1;
}

div.FilterList h4, div.FilterList h5 {
	margin: 0.5em 0.5em 0em 0.5em;
}

div.FilterList h4 {
	color: #f96610;
	padding-bottom: 0.5em;
	border-bottom: solid 1px #ccc;
	font-size: 1.0em;
}

div.FilterList h5 {
	color: #888;
	font-size: 0.9em;
}

div.FilterList hr {
	margin: 0.5em;
}

div.FilterList p {
	color: #777;
	margin: 0.5em 0.5em 1em 0.5em;
	padding-bottom: 1em;
	border-bottom: solid 1px #ccc;
}

div.FilterList div.Links a img {
	border: 0px;
}

/* -----| List of current filters |--------------- */
div.FilterList div.Current {
	padding: 0.5em 1em 1em 1em;
	overflow: hidden;

}

div.FilterList div.Current a, div.FilterList div.All a {
	display: block;
	text-decoration: none;
	color: #555;
}

div.FilterList div.Current a img, div.FilterList div.All a img {
	border: none;
}

div.FilterList div.All {
	padding: 0.3em 0.5em 0.3em 0.5em;
	margin: 0em 0.5em;
	border-top: solid 1px #ccc;
}

div.FilterList div.All a {
	display: inline;
}

/* -----| Dynamic filters (and scrollable layers and scroll bars) |--------------- */
div.Filter {
	padding: 0.5em;
	font-size: 0.9em;

	
	position: relative;
	overflow: hidden;
	height: 10em;
	width: 15.3em;
	z-index: 3;
}

div.Filter input[type=checkbox] {
	/* Only works for non-IE browsers, but IE uses middle align anyway */
	vertical-align: middle;
}

div.Filter div.Out {
	position: absolute; 
	left: 0.5em; 
	top: 0.5em; 
	width: 13.9em;
	height: 9.5em; 
	clip: rect(0em, 14em, 9.8em, 0em);
	overflow: hidden;
	z-index: 1;
	border: solid 1px #999;
	border-right: 0px;
}

div.Filter div.In {
	position: absolute;
	visibility: hidden;
	width: 13.9em;
	left: 0em; 
	top: 0em;
	min-height: 9.5em;
	_height: 9.5em; /* IE hack */
	z-index: 1; 
	background-color: #fff;
}

div.Filter div.Scroll { 
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	width: 13px;
	height: 9.5em;
	z-index: 2;
	border: solid 1px #999;
}

div.Filter div.Scroll a, div.Filter div.Scroll a img {
	border: 0px;
}

div.Filter div.Scroll div.Track { 
	position: absolute; 
	left: 0em; 
	top: 1em;
	width: 13px; 
	height: 7.5em; 
	z-index: 1;
	background: url("../_Images/ScrollBack.png") top center repeat;
}

div.Filter div.Scroll div.Drag {
	position: absolute; 
	left: 0px; 
	top: 0px;
	width: 11px; 
	height: 1em; 
	z-index: 1;
	background-color: #ccc;
} 
   
div.Filter div.Scroll div.Up {
	position: absolute;
	left: 0em;
	top: 0em;
	z-index: 2;
}  

div.Filter div.Scroll div.Down {
	position: absolute;
	left: 0em;
	bottom: 0em;
	z-index: 3;
}

div.AdvancedFiltersToggle {
	text-align: right; 
	margin-right: 1.5em;
	margin-bottom: 0.5em;
	padding: -2em 0.5em 0.5em auto; 
	font-size: 0.9em;
}

/* -----| Aligns the checkbox lables in the search results page (Search.aspx) |--------------- */
div.Filter div.In table tr td input {
	float: left;
	margin-right: 0.3em;
}

div.Filter div.In table tr td label {
	/*display: block;
	float: left;*/
	width: 11.em;
	padding-top: 0.2em;
	padding-right: 0em;
}

/* -----| Aligns the checkbox lables in the data page (Data.aspx) |--------------- */
div.In input {
	float: left;
	margin-right: 0.3em;
}

div.In label {
	/*display: block;
	float: left;*/
	width: 11.5em;
	padding-top: 0.2em;
}

div.In br {
	clear: left;
	line-height: 0.3em;
}