/* -----| Page styles and layout |---------------- */
div.Container {

}


div.SideMargin {
	font-family: Verdana, "Segoe UI", Tahoma, Arial, Sans-Serif;
	margin-right: 50px;
}

div.LeftColumn {
	font-size: 0.9em;
}

h2 {
	margin: 0em 0em 0.5em 0em;
	font-size: 1.2em;
	font-weight: bold;
	color: #333;
}

div.PageHeading, div.GlossaryTerms h3 {
	font-weight: normal;
	color: #324374;
	border-bottom: solid 2px #EFEFFF;
	padding-bottom: 0.2em;
	margin-bottom: 0.5em;
	font-size: 0.9em;
}

div.GlossaryTerms h3 {
	font-size: 1.2em;
	margin-bottom: 0em;
}

/* -----| Series name and dataset |--------------- */
div.SeriesMeta {
	/* Have to keep font size 1.0em in this div so that our left margin can correspond exactly to the left margin for the left column. */
	background-color:#EDF5FF;
	border:1px solid #5D75B9;
	padding: 0.2em 1em;
	font-size: 0.8em;
}

div.SeriesMeta h2 {
	color: #324374;
	font-weight: normal;
	font-size: 1.3em;
	margin-bottom: 0.1em;
	border-bottom: solid 1px #B8CCEC;
	padding: 0.3em 0em;
}

div.SeriesMeta h2 span {
	margin-left: 2em;
	font-size: 0.75em;
}

div.SeriesMeta h2 span a:link, div.SeriesMeta h2 span a:active, div.SeriesMeta h2 span a:visited {
	color: #666;
}

div.SeriesMeta h2 span img {
	margin-right: 0.5em;
}

div.SeriesMeta a, div.SeriesMeta a:link, div.SeriesMeta a:visited, div.SeriesMeta a:hover, div.SeriesMeta div a.ds:active {
	color: #5D75B9; /*33c;*/
}

div.SeriesMeta span {
	color: #4B7221; /*#5D75B9;*/
}

div.Records {
	margin: 0em 0.1em 0.2em 0.1em;
	color: #666;
	font-size: 0.7em;
	border: solid 1px #ccc;
	background-color: #F1F1F1;
	padding: 0em 0.5em;
	text-align: right;
}

div.Records div.Page {
	display: inline;
}

div.Records a, div.Records a:link, div.Records a:visited, div.Records a:active {
	color: #F60;
	font-size: 0.9em;
}

div.Records a:hover {
	background: none;
}

div.Records img {
	border: none;
}


#divLoading {
	display: none;
	height: 30em;
	background-color: #FFF;
	border: solid 1px #ccc;
	vertical-align: middle;
	text-align: center;
}

#divLoading img {
	padding-top: 12em;
}

/* -----| Options box and popup |----------------- */
div.IconBar {
	padding: 1.5em 0em 0.5em 19.5em;
}

div.SeriesMeta div.Options {
	float: left;
	margin: 1.8em 0em 0em 0.5em;
}

div.SeriesMeta div.Options a {
	font-size: 0.9em;
}


/* -----| Data Table |---------------------------- */

div.DataMain {
	margin-left: 14.5em;
}

div.DataContainer {
	border: solid 0.1em #fff;	/* Fixes friggin IE6 bug */
	height: 30em;
	overflow: scroll;
	overflow-x: auto;
	overflow-y: scroll;
	width: 99.5%;
	margin-right: -99%;
	padding: 0em;
	border-bottom: solid 1px #E5E6EE;
	border-left: solid 1px #E5E6EE;
}

div.Clear {
}

div.Data {
	padding: 0em;
}

div.Data table {
	border-left: solid 1px #ccc;
	font-size: 0.8em;
	width: 97.5%;	
}

/* Page classes are for the auto pivot table */
div.Data table tr.Page {

}

div.Data table tr.Page td {
	background-color: #f1f1f1;
}

div.Data table tr.Page td.No {
	font-size: 5px;
}

div.Data table tr.Page td.Hover {
	background-color: #ddd;
	cursor: pointer;
}

div.Data table tr th {
	padding: 0.2em;
	color: #fff;
	background: url(../_Images/DataTableBack.gif) top center repeat-x #5c73b8;
	vertical-align: bottom;
	font-weight: normal;
}

div.Data table tr td {
	padding: 0.1em 0.25em;
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}

div.Data td.Footnotes {
	padding: 0em;
	margin: 0em;
	width: 1px;
}

div.Footnotes {
	margin-right: 1%;
	font-size: 0.8em;
	margin-bottom: 2em;
}

div.Footnotes h2 {
	font-weight: normal;
	color: #324374;
	border-bottom: solid 2px #EFEFFF;
	padding-bottom: 0.2em;
}
	

span.footnotes {
	vertical-align: super;
	font-size: 0.7em;
}

span.footnotes a, span.footnotes a:link, span.footnotes a:visited, span.footnotes a:hover, span.footnotes a:active {
	color: #777;
}

/* -----| Related glossary terms |--------------- */
div.GlossaryTerms {
	font-size: 0.8em;
}

div.GlossaryTermList {
	margin-left: 46em;
	margin-bottom: 4em;
}

div.GlossaryTermList img {
	margin-right: 0.3em;
	padding-bottom: 0.1em;
}

div.GlossaryTermList a:link, div.GlossaryTermList a:visited, div.GlossaryTermList a:active {
	color: #555;
}

div.GlossaryTermList a:hover {
	color: #F60;
}

div.TermDefinition {
	border: solid 1px #EFEFFF;
	padding: 0.5em 1em;
	background: #FFF url(../_Images/GTBack.png) repeat-x scroll center top;
	width: 40em;
	border-right: solid 1px #D4D4F9;
	border-bottom: solid 1px #D4D4F9;
}

div.TermDefinition h3 {
	font-weight: normal;
	margin: 0em;
	padding: 0em;
	color: #324374;
}

div.Definition {
	height: 5em;
	overflow-y: scroll;
	margin: 0em;
	color: #555;
	padding-right: 0.5em;
	padding-top: 0.5em;
}

/*div.GoTo {
	margin-top: 1em;
	border-top: solid 1px #e7e7e7;	
	border-bottom: solid 1px #e7e7e7;
}

div.GoTo a:link, div.GoTo a:visited, div.GoTo a:active, div.GoTo a:hover {
	color: #777;
}*/

div.Source {
	margin-bottom: 1.5em;
	font-size: 0.8em;
}

